<%= form_for [@user, @recommendation] do |f| %>
    <label>Choose a book from your library to review:</label><br>
    <%= f.select :book_id, @books.collect { |b| [ b.title, b.id ] } %><br><br>
    <%= f.text_area :comment, placeholder: 'comment' %><br><br>
    <%= f.submit %>
<% end %>