<h1><%= @user.name %>'s Recommendations:</h1>
<div class="text-left">
    <ol>
        <% @recommendations.each do |rec| %>
            <li><%= "#{rec.book.title} by #{rec.book.author}" %> <%= link_to('X', user_recommendation_path(@user, rec), method: "delete", class: "text-danger") if @user == current_user %></li>
            <p><%= rec.comment %></p>
        <% end %>
    </ol>
</div>