<%= render 'search' %>

<hr>

<div class="text-left">
    <% if @users %>
        <% @users.each do |user| %>
            <%= link_to "#{user.name} - #{user.email}", user_path(user) %><br>
        <% end %>
    <% end %>
</div>