<h1><%= @user.name %>'s Profile</h1>
<p>Email: <%= @user.email %></p>
<% if @user.image %>
    <img src=<%= @user.image %> alt="user profile picture">
<% end %>

<br>

<%= link_to 'View this user\'s current recommendations', user_recommendations_path(@user) %>