<h1>Your Library</h1>

<ul>
    <% @user.libraries.each do |library| %>
        <li><%= "#{library.book.title} by #{library.book.author}" %> <%= button_to('X', library_path(library), method: "delete") %></li>
    <% end %>
</ul>

<%= link_to 'Add a new book to your library', new_library_path %>