<h1>Welcome to Library Friends</h1>

<%= link_to 'Check out your page.', user_path(@user) %><br>
<%= link_to 'View your library.', libraries_path %><br>
<%= link_to 'View your follow feed', follows_path %><br>