<div class="container text-left">
    <h3>All Books</h3>
    <ul>
        <% @books.each do |book| %>
            <li><%= link_to "#{book.title} by #{book.author}", book %></li>
        <% end %>
    </ul>
</div>