<div class="container text-left home">
    <h3 class="text-white">All Books</h3>
    <ul class="book-list">
        <% @books.each do |book| %>
            <li><%= link_to book.title_by_author, book %></li>
        <% end %>
    </ul>
</div>