<div class="home show-book">
    <h3>Title: <%= @book.title %></h3>
    <p>by: <%= @book.author %></p>
    <br>
    <%= button_to "Add This Book To Your Library", {controller: "libraries", action: "create", :book_id => @book.id} %>
</div>