<% if user_signed_in? %>
    <div class="container text-center">
        <%= link_to('<button type="button" class="logout">Logout</button>'.html_safe, destroy_user_session_path, method: :delete) %>
    </div>
<% end %>